.tr-hover:hover{
  background-color: #eeeeee;
}

.item-hover:hover{
  transform: translateY(-0.2rem);
  transition: .3s;
  color: #3b4a6b;
}

.max-size{
  display:inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 10ch;
}
