.custom-file-upload {
  width: 15%;
  border: none;
  height: 50px;
  margin-bottom: 22px;
  background-color: transparent;
  outline: none;
  color: #000000;
  border: 1px solid #a5a5a5;
  font-size: 30px;
}

.customer-url {
  width: 85%;
  border: none;
  height: 50px;
  margin-bottom: 25px;
  padding-left: 15px;
  background-color: transparent;
  outline: none;
  color: #000000;
  border: 1px solid #a5a5a5;
}
