<section class="contact_section layout_padding">
  <div class="container">
    <h2 style="text-align: center; font-weight: bold">
      THÊM MỚI SẢN PHẨM
    </h2>
    <form [formGroup]="productForm" class="row">
      <div class="col-md-6">
        <div class="form_container" style="float: top">
          <div>
            <label class="mr-1">Tên sản phẩm: </label>
            <span class="text-danger" *ngIf="productForm.get('name').hasError('required') &&
              (productForm.get('name').dirty || productForm.get('name').touched)">
                Không được để trống
              </span>
            <input type="text" formControlName="name">
          </div>
          <div>
            <label class="mr-1">Pin (mAh): </label>
            <span class="text-danger" *ngIf="productForm.get('battery').hasError('min') &&
              (productForm.get('battery').dirty || productForm.get('battery').touched)">
            Không được nhập số âm
              </span>
            <span class="text-danger" *ngIf="productForm.get('battery').hasError('required') &&
              (productForm.get('battery').dirty || productForm.get('battery').touched)">
            Không được để trống
              </span>
            <input type="text" formControlName="battery">
          </div>
          <div>
            <label class="mr-1">Xuất xứ: </label>
            <span class="text-danger" *ngIf="productForm.get('countryOfOrigin').hasError('required') &&
              (productForm.get('countryOfOrigin').dirty || productForm.get('countryOfOrigin').touched)">
                Không được để trống
              </span>
            <input type="text" formControlName="countryOfOrigin">
          </div>
          <div>
            <label class="mr-1">Màu sắc: </label>
            <span class="text-danger" *ngIf="productForm.get('color').hasError('required') &&
              (productForm.get('color').dirty || productForm.get('color').touched)">
              Không được để trống
              </span>
            <input type="text" formControlName="color">
          </div>
        </div>
        <div>
          <label class="mr-1">Bluetooth: </label>
          <span class="text-danger" *ngIf="productForm.get('bluetooth').hasError('required') &&
              (productForm.get('bluetooth').dirty || productForm.get('bluetooth').touched)">
            Không được để trống
              </span>
          <select formControlName="bluetooth">
            <option value="">Chọn loại bluetooth</option>
            <option value="0">Có</option>
            <option value="1">Không có</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div>
          <label class="mr-1">Gọi điện: </label>
          <span class="text-danger" *ngIf="productForm.get('callable').hasError('required') &&
              (productForm.get('callable').dirty || productForm.get('callable').touched)">
                        Không được để trống
              </span>
          <select formControlName="callable">
            <option value="">chọn tính năng gọi điện</option>
            <option value="0">Có</option>
            <option value="1">Không có</option>
          </select>
        </div>
        <div>
          <label class="mr-1">Loại sản phẩm: </label>
          <span class="text-danger" *ngIf="productForm.get('category').hasError('required') &&
              (productForm.get('category').dirty || productForm.get('category').touched)">
                        Không được để trống
              </span>
          <select formControlName="category">
            <option value="">chọn loại sản phẩm</option>
            <option [ngValue]="category" *ngFor="let category of categoryList">{{category.name}}</option>
          </select>
        </div>
        <div>
          <label class="mr-1">Giá: </label>
          <span class="text-danger" *ngIf="productForm.get('price').hasError('min') &&
              (productForm.get('price').dirty || productForm.get('price').touched)">
            Không được nhập số âm
              </span>
          <span class="text-danger" *ngIf="productForm.get('price').hasError('required') &&
              (productForm.get('price').dirty || productForm.get('price').touched)">
            Không được để trống
              </span>
          <input type="number" formControlName="price">
        </div>
        <div>
          <label class="mr-1">Số lượng: </label>
          <span class="text-danger" *ngIf="productForm.get('quantity').hasError('min') &&
              (productForm.get('quantity').dirty || productForm.get('quantity').touched)">
            Không được nhập số âm
              </span>
          <span class="text-danger" *ngIf="productForm.get('quantity').hasError('required') &&
              (productForm.get('quantity').dirty || productForm.get('quantity').touched)">
            Không được để trống
              </span>
          <input type="number" formControlName="quantity">
        </div>
        <div>
          <label class="mr-1">Hình ảnh mô tả: </label>
          <span class="text-danger" *ngIf="checkImgSize == true">
                Dung lượng ảnh quá lớn
          </span>
          <span class="text-danger" *ngIf="regexImg == true">
                File sai định dạng
          </span>
          <div>
            <label for="file-upload" class="custom-file-upload center-box float-left">
              <i class="fa-solid fa-camera"></i>
            </label>
            <input disabled class="customer-url float-left border-left-0" [value]="url">
            <input id="file-upload" type="file" hidden (change)="onFileSelected($event)">
          </div>
        </div>
      </div>
      <div class="col-md-12" style="padding-bottom: 25px">
        &nbsp;<img style="max-width: 100%" class="preview-img rounded img-fit" [src]="url" *ngIf="url" alt="">
      </div>
      <div class="col-md-4">
        &nbsp;
      </div>
      <div class="col-md-4">
        <div class="float-right w-100">
          <button class="w-100" type="button" (click)="submit()">
            Thêm mới
          </button>
        </div>
      </div>
      <div class="col-md-4">
        &nbsp;
      </div>
    </form>
  </div>
</section>
