<div class="page-content page-container" id="page-content" style="background: #eeeeee">
  <div class="padding">
    <div class="row d-flex justify-content-center">
      <div class="col-xl-10 col-md-12">
        <div class="card user-card-full">
          <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
              <div class="card-block text-center text-white">
                <div class="m-b-25">
                  <img src="https://img.icons8.com/bubbles/100/000000/analytics.png"/>
                </div>
                <button class="chart btn btn-outline-info" (click)="createLineChartWeek()">Trong 7 ngày qua</button>
                <button class="chart btn btn-outline-info" (click)="createLineChartMonth()">Trong tuần qua</button>
                <button class="chart btn btn-outline-info" (click)="createLineChartYear()">Trong năm qua</button>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card-block">
                <p class="m-b-20 p-b-5 b-b-default f-w-600">{{tittle}}</p>
                <canvas class="row" id="myChart">
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
