/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ngx-toastr/toastr.css";
.icon-right{
  width: 60px;
  height: 60px;
  background: #4135d6;
  border-radius: 25px;
  pointer-events: none;
  box-shadow: 0 0 30px #4135d658;
  color: white;
  font-size: 25px;
  font-weight: 500;
  border: 0;
  bottom: 0;
  right: 0;
  margin: 10px;
  position: fixed;
}


.center-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.space-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


