<section class="h-100 h-custom" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col">
        <div class="card">
          <div class="card-body p-4">
            <div class="row">
              <div class="col-lg-7">
                <h5 class="mb-3"><a href="#!" class="text-body"><i
                  class="fas fa-long-arrow-alt-left me-2"></i>Tiếp tục mua hàng</a></h5>
                <hr>

                <div class="d-flex justify-content-between align-items-center mb-4">
                  <div>
                    <p class="mb-1">Giỏ hàng</p>
                    <p class="mb-0">Bạn có {{productList.length}} sản phẩm trong giỏ hàng</p>
                  </div>
                </div>

                <div id="test">
                  <div class="card mb-3" *ngFor="let product of productList">
                    <div class="card-body">
                      <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                          <div>
                            <img
                              [src]="product.url"
                              class="img-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                          </div>
                          <div class="ms-3">
                            <h5>{{product.name}}</h5>
                            <p class="small mb-0">{{product.color}}, {{product.countryOfOrigin}}</p>
                          </div>
                        </div>
                        <div class="d-flex flex-row align-items-center">
                          <div style="width: 30px;">
                            <h5 class="fw-normal mb-0">{{product.quantityOrder}}</h5>
                          </div>
                          <div style="width: 30px">
                            <i (click)="upQuantity(product.id)" class="fa-solid pointer w-100 text-primary fa-chevron-up"></i>
                            <i *ngIf="product.quantityOrder > 1" (click)="downQuantity(product.id)" class="fa-solid pointer w-100 text-primary fa-chevron-down"></i>
                          </div>
                          <div style="width: 150px;">
                            <h5 class="mb-0 text-danger">
                              {{product.price * product.quantityOrder | number}}
                              <sup class="text-black-50">đ</sup>
                            </h5>
                          </div>
                          <button (click)="delete(product)" style="color: #cecece; border: 0; background: white">
                            <i class="fas fa-trash-alt"></i>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="col-lg-5">

                <div class="card bg-primary text-white rounded-3">
                  <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-4">
                      <h5 class="mb-0">Thánh Toán Paypal</h5>
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/avatar-6.webp"
                           class="img-fluid rounded-3" style="width: 45px;" alt="Avatar">
                    </div>
                    <hr class="my-4">

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Tổng tiền</p>
                      <p class="mb-2">
                        {{subTotal | number}}
                        <sup>đ</sup>
                      </p>
                    </div>

                    <div class="d-flex justify-content-between">
                      <p class="mb-2">Phí vận chuyển</p>
                      <p class="mb-2">
                        {{ship | number}}
                        <sup>đ</sup>
                      </p>
                    </div>

                    <div class="d-flex justify-content-between mb-4">
                      <p class="mb-2">Tổng tiền phải trả</p>
                      <p class="mb-2">
                        {{total | number}}
                        <sup>đ</sup>
                      </p>
                    </div>

                    <button *ngIf="role !== null" type="button" class="btn mb-4 btn-info btn-block btn-lg" (click)="pay()">
                      <div class="d-flex justify-content-between">
                        <span>
                          {{total | number}}
                          <sup>đ</sup>
                        </span>
                        <span>Thanh toán<i class="fas fa-long-arrow-alt-right ml-2"></i></span>
                      </div>
                    </button>
                    <button *ngIf="role === null" type="button" class="btn mb-4 btn-info btn-block btn-lg center-box" routerLink="/login">
                      <div class="d-flex justify-content-between">
                        <span>Đăng nhập để thanh toán</span>
                      </div>
                    </button>
                    <div id="myPaypal"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
